<!DOCTYPE html>
<html>
<head>
    <title>Curso de Node.js</title>
</head>
<body>
    <h1> Hello World </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere hendrerit eros sed dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse purus eros, rutrum in dolor a, dictum rhoncus nisi. Nunc maximus ultrices nisl, eu lobortis massa auctor quis. Duis pharetra quis ipsum mollis malesuada. Phasellus fermentum nisi ac rhoncus vestibulum. Sed convallis mauris quis ligula tincidunt, et tempor libero hendrerit. Duis lectus nulla, aliquet sed mi eu, commodo malesuada ex. Nam at tortor ut ligula consequat ullamcorper ac id justo. Curabitur quis metus congue, auctor leo non, egestas est. Aenean maximus sed lorem eget imperdiet. Mauris gravida semper ex vitae hendrerit. Donec vel ipsum felis.</p>
</body>
</html>
